<nav>
	<ul>
		<li><%= link_to "будинки", "index.html" %></li>
		<li><%= link_to "дієта", "diet.html" %></li>
		<li><%= link_to "Pфізичної активності", "physical-activity.html" %></li>
		<li><%= link_to "фактори ризику", "risk-factors.html" %></li>
		<li><%= link_to "References", "references.html" %></li>
	</ul>
</nav>